body{
  background-color: #f1f1f1;
  font-family: 'Courier New', Courier, monospace;
}
/* Component Header */
header{
  text-align: center;
  font-size: 1.5em;
  color: #61b15a;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
header h1{
  margin: 0;
}
Header button{ 
  border: 1px solid #222831;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-size: 0.7em;
  font-family: 'Courier New', Courier, monospace;
} 
.Dark{
  background-color: black;
  color: #61b15a;
}
.Dark .Characters .Character-card--title{
  color: white
}
.Dark .Characters .Character-card{
  border: 1px solid #61b15a;
  background-color: black;
  color: #61b15a;
  box-shadow: 4px 4px 8px rgba(97, 177, 90, 0.8);
}
.Dark .header--btn {
  border: 1px solid #61b15a;
  background-color: black;
  color: white
}
.Light{
  background-color: #f1f1f1;
}
/* Component Characters */
.Characters{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0 50px;
}
.Character-card{
background-color: #ffffff;
width: 200px;
height: auto;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
border-radius: 20px;
padding: 30px;
margin: 20px;
}
.Character-card--img{
  width: 100%;
}
.Character-card--title{
color: #393e46;
text-align: center;
}
.Character-card--list{
  list-style: none;
  padding: 0;
}
.Characters-card--btn{
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
}
.Characters-card--btn:hover{
  background-color: #61b15a;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
/* Search */
.Search{
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}
.Search input{
  width: 200px;
  border-radius: 10px;
  height: 30px;
  border: 1px solid #393e46;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f1f1f1;
}
/* Favorites */
.Favorites{
  padding: 0 100px;
}